.home {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.2rem;
}

.message {
    width: 15rem;
    height: 5rem;
    background-color: var(--allert-color2);
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border: solid 0.2rem var(--allert-color);
    margin: 0.3rem;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 11;
}

.login {
    color: white;
    position: absolute;
    width: 45rem;
    height: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(47, 72, 88);
    background: -moz-linear-gradient(90deg, rgba(47, 72, 88, 1) 30%, rgba(0, 237, 54, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(47, 72, 88, 1) 30%, rgba(0, 237, 54, 1) 100%);
    background: linear-gradient(90deg, rgba(47, 72, 88, 1) 30%, rgba(0, 237, 54, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f4858", endColorstr="#00ed36", GradientType=1);
    border-radius: 0.9rem;
    -webkit-box-shadow: inset 0px 0px 38px -12px rgba(242, 252, 240, 1);
    -moz-box-shadow: inset 0px 0px 38px -12px rgba(242, 252, 240, 1);
    box-shadow: inset 0px 0px 38px -12px rgba(242, 252, 240, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.inactive {
    visibility: hidden;
}

.blob {
    width: 30rem;
    height: 34rem;
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 1s ease;
    -webkit-box-shadow: inset 0px 0px 38px -12px rgba(242, 252, 240, 1);
    -moz-box-shadow: inset 0px 0px 38px -12px rgba(242, 252, 240, 1);
    box-shadow: inset 0px 0px 38px -12px rgba(242, 252, 240, 1);
}

.blob-login {
    border-radius: 56% 44% 0% 100% / 54% 0% 100% 46%;
    z-index: 10;
    transform: translate(-5%, -50%);
}

.blob-register {
    border-radius: 24% 76% 35% 65% / 100% 25% 75% 0%;
    z-index: 10;
    transform: translate(-100%, -50%);
}

input{
    background-color: var(--bg-color)!important;
    border-radius:  1rem;
    padding: 0.5rem;
}

.link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    
    *{
        font-size: 0.8rem;
        color: white;
    }

    button:hover{
        cursor: pointer;
        color: black;
    }
}

.login-button
{
    background-color: var(--bg-color);
    border-radius:  1rem;
    padding: 0.5rem;
    width: 10.5rem;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover{
    background-color: var(--bg-color2);
}